# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

- SQL signifie Structured Query Language, c'est un langage qui permet de communiquer avec une base de données relationnelles.

SQL est un langage informatique normalisé servant à exploiter des bases de données relationnelles. La partie langage de manipulation des données de SQL permet de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données relationnelles." (Wikipédia)

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

Sqlite est un SGBD simplifié, petit et rapide. Il présente de nombreux avantages:
- iL est serverless, c'est à dire qui ne fonctionne pas sous le schéma classique de "client-serveur", il n'a donc pas besoin d'un serveur dédié pour fonctionner et peut être directement intégré dans une application.
- facile d'utilisation, car ne nécessite pas d'installation/configuration particulière et peu d'administration.
- projet opensource
- utilise peu de ressource.
- "toute la base est stockée dans un fichier unique qu'il est facile d'échanger en FTP" (Finalclap)

Ce software n'est pas exempts d'inconvénients:
- écritures ATOMIC (avec SQLite, un seul processus peut écrire dans la base)
- n'est pas adpaté pour les sites importants (par ex. pas de réplication possible)
- la taille de la base de donnée peut être restreinte


La version 3 apporte des améliorations par rapport à la version 2 :"
- Auto increment (très utile pour les clé primaires à base d'entiers générés automatiquement)
- Stockage plus efficace (SQLite2 stocke tous les types sous forme de chaine de caractère : entiers, chaines, BLOB... ce qui occupe de      l'espace disque inutilement)
- Support des clés étrangères" (Finalclap)


http://www.journaldunet.com/developpeur/tutoriel/sql/050127-sqlite-limites.shtml

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

Nous avons les formats XML, xls, json, ...

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier binaire (car encoder et il faut un logiciel particulier pour le lire)

### Question 5: Donner les caractéristiques de la table `summer` ?

Le tableau summer contient les noms des médaillés aux JO d'été de puis ses débuts jusqu'en 2016. Ce tableau contient les colones: year, city, sport, discipline, athlete, country, gender, event, medal

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

"requete sql"
SELECT count FROM summer

"reponse"
31165!

![p3_q6](image/p3_q6.png)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

SELECT min(Year), max(Year)
FROM summer

![p3_q7](image/p3_q7.png)

# Début des questions de la promo

### Question 8: Indiquer les années et villes des olympiades ?

SELECT DISTINCT Year, City 
FROM summer

![p3_q8](image/p3_q8.png)

### Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

SELECT *
FROM summer
WHERE "Year" = "2012" AND "Country" = "JPN"

![p3_q3](image/p3_q3.png)

### Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

SELECT *
FROM summer
WHERE Year >= "1984" and Year <= "2012" AND "Country" = "FRA"

![p3_q17](image/p3_q17.png)

### Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball médaillée d’or aux J.O de 2012 ? (Corentin P)

SELECT *
FROM summer
WHERE Year = "2012" AND Country = "BRA" AND Discipline = "Volleyball" AND "Gender" = "Women"

![q3_p10](image/p3_q10.png)

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? (jordan)

SELECT count(*)
FROM summer
WHERE Country = "FRA" AND Discipline = "Cricket" AND "Medal" = "Gold"

![p3_q13](image/p3_q13.png)

### Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? (mayel)

SELECT Athlete, count(*)
FROM summer
WHERE Medal = "Gold"
GROUP BY Athlete
ORDER BY count(*) DESC
LIMIT 1

![p3_q12](image/p3_q12.png)

### Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? (Christophe)

SELECT count(Country) as France, Medal
FROM summer
WHERE Year = 1984 AND Country = "FRA" AND Medal = "Gold"

![p3_q1](image/p3_q1.png)

### Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

- pour la question Q15 et Q5 même si les fonctions semblent juste, les réponses ne sont pas corrects (quand on compare ces résultats aux données wikipédia par exemple).

SELECT Country, count(DISTINCT Event)
FROM summer 
WHERE Year = "2012" and Medal = "Gold"
GROUP BY Country
ORDER BY count(DISTINCT Event) DESC

- Code de Christophe:

SELECT DISTINCT Year, Country, Sport, Discipline, Event, Gender, Medal, count(Athlete)
FROM summer
WHERE Year = 1984 AND Country = "USA"  AND Medal = "Gold"
GROUP by Sport, Discipline, Event, Gender
ORDER by Sport, Discipline, Event, Gender

![p3_q15](image/p3_q15.png)

### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

SELECT Country, count(*)
FROM summer 
WHERE Medal = "Gold"
GROUP BY Country
ORDER BY count(*) DESC
LIMIT 1

![p3_q5](image/p3_q5.png)

### Q7. Combien de femmes ont obtenu  une médaille d’or ? (Lamia)

SELECT Athlete, count(*)
FROM summer 
WHERE Medal = "Gold" and Gender = "Women"
GROUP BY Athlete
ORDER BY count(*)

![p3_q7b](image/p3_q7b.png)

### Q16. Combien de femmes ont remportées des médailles ?

SELECT count(DISTINCT Athlete)
FROM summer 
WHERE Gender = "Women"

![p3_q16](image/p3_q16.png)

### Q11. Combien de femmes françaises ont gagnées en 2012 , quel sont leurs médailles ? (izak)

- pour obtenir le nombre de femme française qui ont gagné une médaile:

SELECT Count(DISTINCT Athlete)
FROM summer
WHERE Country = "FRA" AND Gender = "Women" and Year = "2012"

![p3_q11a](image/p3_q11a.png)

- liste des médailles françaises féminine:
    
SELECT Athlete, Medal
FROM summer
WHERE Country = "FRA" AND Gender = "Women" and Year = "2012"

![p3_q11b](image/p3_q11b.png)

#### Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

- pour avoir la réponse numérique directe:

SELECT count(DISTINCT Year)
FROM summer
WHERE City = "London"

- réponse plus visuelle (tableau):

SELECT DISTINCT year, City
FROM summer
WHERE City = "London"

![p3_q9](image/p3_q9.png)

### Q6b. Combien de villes différentes ont accueilli les JO d’été entre 1896 et 2012 ? (Yoann)

SELECT Count(DISTINCT City)
FROM summer	
WHERE Year BETWEEN "1896" and "2012"

![p3_q6b](image/p3_q6b.png)

### Q2. Quel pays a le plus d’athlètes ? (Matthias)

SELECT Country, count(DISTINCT Athlete)
FROM summer
GROUP BY Country
ORDER BY count(DISTINCT Athlete) DESC
LIMIT 1

![p3_q2](image/p3_q2.png)

### Q8. Combien de sports différents sont représentés par année ? (joris)

SELECT Year, count(distinct Sport)
FROM summer 
GROUP BY Year

![p3_q8b](image/p3_q8b.png)

### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? (Corentin L)

SELECT Sport, count(Medal)
FROM summer 
WHERE Country = "GRE"
GROUP by Sport%

![p3_q4](image/p3_q4.png)

### Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en excluant les années paires ? (jonathan)

- il n'y pas de JO d'été les années impaires, la réponse sera 0

SELECT Athlete
FROM summer
WHERE ([Year]% 2) != 0

![p3_q14](image/p3_q14.png)

### Question i:

---

Fin